<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kimhuang.project">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Home -->
        <activity
            android:name=".home"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <!-- Setting -->
        <activity
            android:name=".Setting"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- contact -->
        <activity
            android:name=".contact"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Example-->
        <activity
            android:name=".DisableSwipeIntro2"
            android:screenOrientation="landscape"></activity>

        <!-- map-->
        <activity
            android:name=".map"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- map1 -->
        <activity
            android:name=".map1"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <!-- page1_1 -->
        <activity
            android:name=".page1_1"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <!-- scene1_1 -->
        <activity
            android:name=".scene1_1"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- page1_2 -->
        <activity
            android:name=".page1_2"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- scene1_2 -->
        <activity
            android:name=".scene1_2"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- page1_3 -->
        <activity
            android:name=".page1_3"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- page1_32 -->
        <activity
            android:name=".page1_32"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- scene1_3 -->
        <activity
            android:name=".scene1_3"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- page1_4 -->
        <activity
            android:name=".page1_4"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <!-- scene1_4 -->
        <activity
            android:name=".scene1_4"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <!-- MiniGame1 -->
        <activity
            android:name=".minigame1"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
